html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.navbar {
    margin-bottom: 0;
}

.site-index .p-5 {
    margin-top: 70px;
}

.site-login .card {
    margin-top: 100px;
}

main#main {
    padding-top: 70px;
}

.navbar-text {
    color: rgba(255, 255, 255, 0.7);
}

.navbar-text strong {
    color: rgba(255, 255, 255, 1);
}
